:root {
  --iris: #4d5ae5;
  --navy-blue: #2e2f42;
  --slate: #434455;
  --ocean: #404bbf;
  --white: #ffffff;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --light-slate: #8e8f99;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.no-scroll {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header .container {
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.navigate {
  display: flex;
  align-items: center;
  height: 70px;
}

.container {
  max-width: 428px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  border-bottom: 1px solid var(--cornflower);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: var(--slate);
  background-color: var(--white);
}

.link {
  text-decoration: none;
}

.logo-web {
  margin-right: 76px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 1.17;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}

.logo-text-studio {
  color: var(--navy-blue);
}

.logo-text-studio-footer {
  color: var(--cloud);
}

.list {
  list-style: none;
}

.navigate .list,
.address-header .list {
  display: none;
}

.burger-button {
  background-color: transparent;
  border: none;
}

.burger-svg {
  stroke: var(--navy-blue);
}

.mob-menu {
  background-color: var(--white);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 80px 35px 40px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mob-menu-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mob-menu-item {
  color: var(--navy-blue);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

.current-mob {
  color: var(--ocean);
}

.mob-address-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 48px;
}

.mob-tel {
  color: var(--iris);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

.mob-email {
  color: var(--slate);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.mob-menu .social-items {
  gap: 56px;
  justify-content: start;
}

.section-title {
  padding: 112px 0;
  /* padding: 188px 0; */
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: var(--navy-blue);
  text-align: center;
  max-width: 1440px;
  margin: 0 auto;
}

@media screen and (min-resolution: 192dpi) {
  .section-title {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-mob-2x.jpg);
  }
}

.title {
  margin: 0 auto 72px auto;
  /* margin: 0 auto 48px auto; */
  max-width: 496px;
  color: var(--white);
  font-weight: 700;
  font-size: 36px;
  /* font-size: 56px; */
  line-height: 1.11;
  /* line-height: 1.07; */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  max-width: 320px;
}

.button-order {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  background-color: var(--iris);
  color: var(--white);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-order:focus,
.button-order:hover {
  background-color: var(--ocean);
}

.section-info {
  padding: 96px 0;
  /* padding: 120px 0; */
}

.section-info h2 {
  color: var(--white);
}

.section-info .list {
  gap: 72px;
  /* gap: 24px; */
  display: flex;
  flex-wrap: wrap;
}

.content-info {
  /* width: calc((100% - 72px) / 4); */
}

.card-info {
  background-color: var(--cloud);
  width: 100%;
  height: 112px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  display: none;
}

.title-info {
  font-weight: 700;
  /* font-weight: 500; */
  font-size: 36px;
  /* font-size: 20px; */
  line-height: 1.11;
  /* line-height: 1.2; */
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  /* delete margin */
  margin-bottom: 8px;
  /* delete text-align */
  text-align: center;
}

.description-title-info {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  /* delete font-weight */
  font-weight: 500;
}

/* --------------------- INFO --------------------- */

/* --------------------- TEAM --------------------- */

.section-team .title-info {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.section-team .description-title-info {
  text-align: center;
  /* margin-top: 0; */
  margin-top: 8px;
  font-weight: 400;
}

.social-items {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.logo-bg-team {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-bg-team:hover,
.logo-bg-team:focus {
  background-color: var(--ocean);
}

.logo-bg-team {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--iris);
  border-radius: 50%;
}

.section-team {
  padding: 96px 0;
  /* padding: 120px 0; */
  background-color: var(--cloud);
}

.section-team .team-items-list {
  display: flex;
  /* flex-direction: row; */
  flex-direction: column;
  /* gap: 24px; */
  gap: 72px;
  /* delete aling-tems */
  align-items: center;
}

.section-team .team-list {
  width: 264px;
  /* width: calc((100% - 72px) / 4); */
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-info {
  padding: 32px 0px;
}

.icon-social {
  fill: var(--cloud);
}

/* --------------------- TEAM --------------------- */

.section-service {
  padding-bottom: 120px;
  display: none;
}

.section-service .list {
  display: flex;
  gap: 24px;
}

.content-service {
  width: calc((100% - 48px) / 3);
}

.title-service {
  margin-bottom: 72px;
  color: var(--navy-blue);
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.section-customers {
  padding: 96px 0;
  /* padding: 120px 0; */
}

.customers-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 72px 16px;
}

.customer-item {
  width: calc((100% - 16px) / 2);
  /* width: calc((100% - 120px) / 6); */
  height: 88px;
  /* thx */
}

.customer-link {
  display: block;
  border: 1px solid var(--light-slate);
  border-radius: 4px;
  padding: 16px 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light-slate);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  height: 100%;
}

.customer-link:hover,
.customer-link:focus {
  border-color: var(--ocean);
  color: var(--ocean);
}

.icon-customer {
  fill: currentColor;
}

.section-filter {
  padding-top: 96px;
  padding-bottom: 120px;
}

.button-filter {
  font-family: "Roboto", sans-serif;
  background-color: var(--cloud);
  color: var(--iris);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  border: 1px solid var(--cornflower);
  cursor: pointer;
  padding: 12px 24px;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-filter:focus,
.button-filter:hover {
  background-color: var(--ocean);
  color: var(--white);
  border-color: var(--ocean);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.card-item-filter {
  width: calc((100% - 48px) / 3);
}

.link-add {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-add:hover,
.link-add:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.image-add {
  position: relative;
  overflow: hidden;
}

.hover-text-add {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
  padding: 40px 32px;
  background-color: var(--iris);
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-add:hover .hover-text-add {
  transform: translateY(0%);
}

.link-add:focus .hover-text-add {
  transform: translateY(0%);
}

.item-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.item-name {
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  border-top: none;
}

.title-list {
  text-align: left;
  color: var(--navy-blue);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.mark-filter {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.main-footer {
  padding: 96px 0;
  /* padding: 100px 0; */
  background-color: var(--navy-blue);
}

.main-footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
  /* align-items: baseline; */
}

.main-footer .logo-web {
  display: inline-block;
  margin: 0 auto 16px auto;
  /* margin-bottom: 16px; */
}

.main-footer .text-footer {
  width: 264px;
  color: var(--cloud);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-right: 120px; */
}

.social-media-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-media {
  color: var(--white);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.main-footer .social-items {
  display: flex;
  gap: 16px;
  margin: 0;
}

.logo-bg {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-bg {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--iris);
  border-radius: 50%;
}

.logo-bg:hover,
.logo-bg:focus {
  background-color: #31d0aa;
}

.subscribe {
  /* margin-left: 80px; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 16px;
  /* gap: 24px; */
}

.form-label-footer {
  width: 100%;
}

.subscribe-input {
  /* width: 264px; */
  width: 100%;
  height: 40px;
  background-color: transparent;
  border: 1px solid var(--white);
  border-radius: 4px;
  padding-left: 16px;
  color: var(--white);
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  outline: none;
}

.subscribe-input::placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--white);
}

.subscribe-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  height: 40px;
  background-color: var(--iris);
  color: var(--white);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-weight: 500;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-send {
  fill: var(--white);
  margin-left: 16px;
}

.subscribe-button:hover {
  background-color: var(--ocean);
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 392px;
  min-height: 584px;
  padding: 72px 24px 24px 24px;
  background: #fcfcfc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal:hover,
.button-modal:focus {
  background-color: #404bbf;
  border: none;
}

.close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal:hover .close-icon,
.button-modal:focus .close-icon {
  fill: var(--white);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.form-title {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 16px;
}

.form-label {
  display: block;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
  margin-bottom: 4px;
}

.form-input {
  background-color: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border-color: var(--iris);
  outline: transparent;
}

.textarea-wrap {
  margin-bottom: 16px;
}

.textarea {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  height: 120px;
  resize: none;
  padding: 8px 16px;
  outline: transparent;
}

.textarea::placeholder {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.form-input-items {
  margin-bottom: 8px;
}

.input-wrap {
  position: relative;
}

.modal-icon {
  fill: var(--navy-blue);
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .modal-icon {
  fill: var(--iris);
}

.form-button {
  display: block;
  min-width: 169px;
  height: 56px;
  align-self: center;
}

.form-privacy {
  margin-bottom: 24px;
}

.form-label-privacy {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
}

.privacy-link {
  line-height: 1.33;
  color: var(--iris);
}

.privacy-checkbox {
  margin-right: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-checkbox:checked + .form-label-privacy .privacy-checkbox {
  background-color: var(--ocean);
  border-color: var(--ocean);
  fill: var(--cloud);
}
